<link rel="stylesheet" href="/views/login/style.css">
<header id="header-login">
    <a href="/inicial" class="nav__link" data-link>
        <img id="logo-petsauro" src="/assets/images/logo-purple.svg"></a>

</header>
<main>
    <div id="form-login">
        <div id="inputs-form-login">
            <div id="incorrect-data"></div>
            <input id="email" type="email" placeholder="Digite seu email* ">
            <div id="password-field">
                <input id="password" type="password" placeholder="Digite sua senha* ">
                <span id="show-hide-password">MOSTRAR</span>
            </div>
            <p id="forgotten-password"><a href="">Esqueci minha senha</a></p>
            <button type="button" id="btn-login" onclick="controller.login()">Entrar</button>
            <p id="create-account">Não tem conta? <a href="/cadastro" data-link>Crie uma agora!</a></p>
        </div>
        <div id="welcome-login">
            <h3 id="welcome-message">Olá! Seja bem vindo ao Petsauro!</h3>
            <img id="welcome-image" src="/assets/images/logosauro.png" alt="">
        </div>
    </div>
</main>
<script src="/views/login/script.js"></script>