<div id="cadastro-pets">
  <form>
    Categoria: <input id="pet-category_id" type="text" />
    <br />
    Nome: <input id="pet-name" type="text" />
    <br />
    URL da imagem: <input id="pet-image-url" type="text" />
    <br />
    Peso: <input id="pet-weight" type="text" />
    <br />
    Preço: <input id="pet-price" type="text" />
    <br />
    Altura: <input id="pet-height" type="text" />
    <br />
    Criado por: <input id="pet-created_at" type="text" />
    <br />
    Data: <input id="pet-created_by" type="text" />
    <br />
    Descrição: <input id="pet-description" type="text" />
    <br />
   Promoção: Sim<input id="pet-promotion" type="radio" nome="promotion" />
             Não<input id="pet-promotion" type="radio" nome="promotion" />
    <br />
    <button id="btn-cadastrar-pet" onclick="controller.cadastrarPet(event)">Enviar</button>
  </form>
</div>

<script src="script.js"></script> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
 -->