@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e5e5e5;
  border: 0;
}

/* -------- CABEÇALHO --------- */
ul {
  padding: 0px !important;
  margin: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #e76b69;
  height: 120px;
}
main {
  margin: 0 auto;
  width: 100%;
  margin-top: -15.8px;
  /* float: left; */
  position: relative;
  display: inline-block;
}
.logo {
  float: left;
  padding: 40px;
  margin: 0 auto;
  width: 30%;
}
#logo-name {
  /* padding: 48px; */
  margin-top: 55px;
  width: 34%;
  /* margin: 0 auto; */
  float: center;
}
.cadastro-login ul li {
  margin-left: 10px;
  /* display: flex; */
  float: left;
  list-style: none;
}
a {
  color: #1c1e21;
  text-decoration: none;
  font-size: 18px;
}
.cadastro-login {
  padding: 48px;
  margin: 0 auto;
  width: 30%;
  margin: 0;
  float: right;
}

/* ///------FORMULÁRIO----\\\   */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #57a066;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 360px;
  max-width: 100%;
}

.header-login {
  padding: 10px 180px;
}

.header-login h2 {
  font-weight: 600;
  color: #1c1e21;
  font-size: 30px;
}

.form {
  padding: 0 40px 30px;
}

.form-control {
  margin-bottom: 8px;
  padding-bottom: 15px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #1c1e21;
}

.form-control input {
  border: none;
  border-radius: 20px;
  outline: 0;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  padding: 15px;
}

.form-control.success input {
  border: 1px solid #57a066;
}

.form-control.error input {
  border: 1px solid #e76b69;
}

.form-control.error i .img-error {
  visibility: visible;
}

.form-control.success i .img-success {
  visibility: visible;
}

.form-control.error small {
  color: #e76b69;
  visibility: visible;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}
#olho {
    /* background-color: red; */
    float: right;
    position: relative;
    margin-top: -33px;
    margin-right: 16px;
    cursor: pointer;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
}
#esqueci-senha{
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}
.form button {
  background-color: #e76b69;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1c1e21;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #e76b69;
  margin-top: 10px;
  margin: 0px;
  height: 30px;
  font-style: italic;
}
.copyright-2022-pet-s {
    margin-top: 7.3%;
    text-align: center;
}
/* ////----- SPA -----\\\\*/
/* body {
  --nav-width: 200px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
} */

.spa-page-container {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #222222;
}

.nav-link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  background: white;
}

.visivel {
  /* position: absolute; */
  margin-left: -35px;
  cursor: pointer;
  /* background-color: red; */
}

