<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSauro - Cadastrar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h4><a href="/" class="nav__link" data-link>Página Inicial</a><span>> Cadastro</span></h4>
    <div id="preecher-cadastro">
        
        <div id="cadastrar">
            <form method="">
                <label>Nome</label><br />
                <input id="name" type="text"></input><br /> 
                <label>CPF</label><br />
                <input id="cpf" type="text"></input><br />
                <label>Email</label><br />
                <input id="email" type="email"></input><br />
                <label>Senha</label><br />
                <input id="password" type="password"></input> 
                <label>Confirme sua senha</label><br />
                <input id="second-password" type="password"></input> 
                <div id="different-passwords"></div>
                <button type="button" id="btn-cadastrar-user" onclick="registerUser()">Criar meu Cadastro</button>
                <p>Já possui cadastro ? <span><b>Entrar</b></span></p>
            </form>
        </div>
        
        
        
        <div id="texto-cadastro">
            <p>Vem encontrar seu melhor amigo aqui!</p>
            <p>No <b>PETSAURO</b> existe uma variedade de dinossauros esperando por você.</p>
            <p>Cadastre-se e confira!!</p>
        </div>      
    </div> 
    <script src="script.js"></script>
</body>
</html>

