    <!-- ---- SPA PAGINA INICIAL ---- -->
    <div class="spa-page-container" data-page="/">
      <section class="carrossel">
        <div class="container-carrossel" id="img-carrossel">
          <img class="img-carrossel" src="../src/assets/images/dino-1.jpg" alt=""/>
          <img class="img-carrossel" src="../src/assets/images/dino-2.jpg" alt=""/>
          <img class="img-carrossel" src="../src/assets/images/dino-3.jpg" alt=""/>
        </div>
      </section>
      <div class="pet-disponivel single">
        <p id="disponivel">Alguns dos Pets Disponíveis</p>
        <div class="pets" id="pet-1">
          <img id="pet-img1"src="../src/assets/images/rex-filhote.jpg" alt=""/>
          <p class="name-dino-1">TIRANOSSAURO REX</p>
          <p>Tipo: <span class="infor-1">Carnívoro</span></p>
          <p>Altura Máxima: <span class="infor-1">7m</span></p>
          <p>Peso Máximo: <span class="infor-1">10t</span></p>
        </div>
        <div class="pets" id="pet-2">
          <img id="pet-img2" src="../src/assets/images/triceraptor-filhote.jpg" alt=""/>
          <p class="name-dino-2">TRICERAPTOR</p>
          <p>Tipo: <span class="infor-2">Onívoro</span></p>
          <p>Altura Máxima: <span class="infor-2">3m</span></p>
          <p>Peso Máximo: <span class="infor-2">5t</span></p>
        </div>
        <div class="pets" id="pet-3">
          <img id="pet-img3" src="../src/assets/images/filhotes.jpg" alt=""/>
          <p class="name-dino-3">FILHOTES T-REX</p>
          <p>Tipo: <span class="infor-3">Carnívoro</span></p>
          <p>Altura Máxima: <span class="infor-3">7m</span></p>
          <p>Peso Máximo: <span class="infor-3">10t</span></p>
        </div>
        <div class="pets" id="pet-4">
          <img id="pet-img4" src="../src/assets/images/brontossauro.jpg" alt=""/>
          <p class="name-dino-4">Brontossauro</p>
          <p>Tipo: <span class="infor-4">Herbívoro</span></p>
          <p>Altura Máxima: <span class="infor-4">7m</span></p>
          <p>Peso Máximo: <span class="infor-4">20t</span></p>
        </div>
      </div>
    </div>
  
  <script src="script.js"></script>
</body>
</html>