    <!-- ---- SPA PAGINA INICIAL ---- -->
   <section>
      <section class="carrossel">
        <div class="container-carrossel" id="img-carrossel">
          <img class="img-carrossel" src="./assets/images/dino-1.jpg" alt=""/>
          <img class="img-carrossel" src="./assets/images/dino-2.jpg" alt=""/>
          <img class="img-carrossel" src="./assets/images/dino-3.jpg" alt=""/>
        </div>
      </section>
      <h2> DinoPet Mais Procurados</h2>

      <div class="page-init-container">

         <div class="catalog-page-init" title="Mais Detalhes">
            <a href="/detalhe_produto" class="nav__link" data-link>
               <div class="img-catalog-page-init">
                  <img id="img-page-init" src="./assets/images/rex-filhote.jpg"  alt=""/>
               </div>
               <div class="inform-pet-init">
                  <h3 id="name-pet">TIRANOSSAURO REX</h3>
                  <h4 id="category-pet">Carnívoro</h4>
                  <h4 id="height-pet">8<span> Metros</span></h4>
                  <h4 id="price-pet"><span>R$ </span>10.000</h4>
               </div>
            </a>
         </div>
         <!-- <div class="catalog-page-init">
            <div class="img-catalog-page-init">
               <img class="img-page-init" src="./assets/images/rex-filhote.jpg" alt=""/>
            </div>
            <div class="inform-pet-init">
               <h3 class="name-pet">TIRANOSSAURO REX</h3>
               <h4 class="category-pet">Carnívoro</h4>
               <h4 class="height-pet">8<span> M</span></h4>
               <h4 class="price-pet"><span>R$ </span>10.000</h4>
            </div>
         </div>
         
         <div class="catalog-page-init">
            <div class="img-catalog-page-init">
               <img class="img-page-init" src="./assets/images/rex-filhote.jpg" alt=""/>
            </div>
            <div class="inform-pet-init">
               <h3 class="name-pet">TIRANOSSAURO REX</h3>
               <h4 class="category-pet">Carnívoro</h4>
               <h4 class="height-pet">8<span> M</span></h4>
               <h4 class="price-pet"><span>R$ </span>10.000</h4>
            </div>
         </div>
         <div class="catalog-page-init">
            <div class="img-catalog-page-init">
               <img class="img-page-init" src="./assets/images/rex-filhote.jpg" alt=""/>
            </div>
            <div class="inform-pet-init">
               <h3 class="name-pet">TIRANOSSAURO REX</h3>
               <h4 class="category-pet">Carnívoro</h4>
               <h4 class="height-pet">8<span> M</span></h4>
               <h4 class="price-pet"><span>R$ </span>10.000</h4>
            </div>
         </div>
         <div class="catalog-page-init">
            <div class="img-catalog-page-init">
               <img class="img-page-init" src="./assets/images/rex-filhote.jpg" alt=""/>
            </div>
            <div class="inform-pet-init">
               <h3 class="name-pet">TIRANOSSAURO REX</h3>
               <h4 class="category-pet">Carnívoro</h4>
               <h4 class="height-pet">8<span> M</span></h4>
               <h4 class="price-pet"><span>R$ </span>10.000</h4>
            </div>
         </div> -->
      </div>

   <link rel="stylesheet" href="views/inicial/style.css">  
   <script src="views/inicial/script.js"></script>