/* *, :after, :before {
  box-sizing: border-box;
} */
h2 {
  color: #95A5A6;
  text-align: center;
  margin-top: 15px;
}

.page-init-container {
  /* background-color: blue; */
  display: flex;
  width: 99vw;
  /* position: absolute; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0.1rem solid #d3d9de;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
  border-radius: 0.4rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin-right: 2%;
  margin-bottom: 2rem; 
}

.catalog-page-init {
  min-height: 300px;
  display: inline-block;
  border: 0.1rem solid #d3d9de;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
  border-radius: 0.4rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin-right: 2%;
  margin-bottom: 3rem;
  width: 20%;
}
.catalog-page-init:hover {
  cursor: pointer;
}
.img-catalog-page-init img {
  display: inline-block;
  border-radius: 50%;
  width: 160px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.inform-pet-init {
  text-align: center;
}

h3, h4 {
  color: #95A5A6;
}
