<link rel="stylesheet" href="/views/cadastro/style.css">
<header>
    <a href="/inicial" class="nav__link" data-link><img id="logo-petsauro" src="/assets/images/logo-purple.svg"></a>
</header>
<main>
    <div id="form-register">
        <div id="inputs-form-register">
            <div id="incorrect-data"></div>
            <input id="name" type="text" placeholder="Digite seu nome* ">
            <input id="email" type="email" placeholder="Digite seu email* ">
            <input id="cpf" type="text" placeholder="Digite seu CPF* " oninput="mask(this)">
            <div class="password-field">
                <input id="password" type="password" placeholder="Digite sua senha* ">
            </div>
            <div class="password-field">
                <input id="second-password" type="password" placeholder="Confirme sua senha* ">
            </div>
            <div id="privacity-terms"><p> Ao criar uma conta, você concorda com os <span> <a href="">Termos e Condições de Uso</a></span> da Petsauro. 
              Para saber como tratamos os seus dados pessoais, acesse o nosso <span><a href="">Aviso de Privacidade</a></span>.</p></div>
            <button type="button" id="btn-register" onclick="registerUser()">Cadastrar</button>
            <button id="btn-login" type="button" data-link href="/login">Cadastro finalizado. Ir para Login</button>
            <a href="/inicial" class="nav__link" id="btn-back" data-link>Voltar</a>
        </div>
        <div id="welcome-register">
            <h3 id="welcome-message">Olá! Seja bem vindo ao Petsauro!</h3>
            <img id="welcome-image" src="/assets/images/logosauro.png" alt="">
        </div>
    </div>
</main>
<script src="/views/cadastro/script.js"></script>