@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --a-tag-color: rgb(134,0,201);
   --background-header: white;
   --background-main: rgb(246,246,248);
   --background-footer: white;
   --background-form-register: white;
   --background-btn-register: rgb(134,0,201);
   --background-btn-back: white;
   --border-header: rgb(216,222,226);
   --border-footer: rgb(216,222,226);
   --border-form-register: rgb(216,222,226);
   --border-input: rgb(177, 47, 242);
   --border-btn-back: rgb(134,0,201);
   --heigth-footer: 40px;
   --heigth-header: 80px;
   --heigth-btn-register: 40px;
   --heigth-btn-back: 40px;
   --heigth-input-register: 40px;
   --heigth-form-register: 500px;
   --width-form-register: 1000px;
   --width-welcome-image: 300px;
   --text-color-btn-register: white;
   --text-color-btn-back: rgb(134,0,201);
   --text-color-welcome-message: rgb(98,115,137);  
}

@media (max-width: 500px) {
  #form-register{
    display: flex;
    flex-wrap: wrap;
  }
  #form-register{
    width: 100%;
 } 
}

body{
   overflow-x: hidden;
   max-height: min-content;
   min-height: 100vh;
   font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

header{
   height: var(--heigth-header);
   width: 100vw;
   background-color: var(--background-header);
   border-bottom: 1px solid var(--border-header);
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 0 32px;
   position: fixed;
   top: 0;
}

main{
   min-height: calc(100vh - var(--heigth-footer) - var(--heigth-header));
   max-height: calc(min-content - var(--heigth-footer) - var(--heigth-header));
   background-color: var(--background-main);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: calc(30px + var(--heigth-header)) 0 30px 0;
}

footer{
   height: var(--heigth-footer);
   background-color: var(--background-footer);
   border-top: 1px solid var(--border-footer);
}

#form-register{
   display: flex;
   min-height: var(--heigth-form-register);
   max-height: min-content;
   width: var(--width-form-register);
   background-color: var(--background-form-register);
   border: 1px solid var(--border-form-register);
   border-radius: 20px;
   padding: 30px;
   text-align: center;
}

#inputs-form-register{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
   gap: 20px;
   padding-right: 30px;
   border-right: 0.2px solid var(--border-form-register);
}
a{
   text-decoration: none;
   color: var(--a-tag-color);
}
a:hover{
   color: rgb(147, 147, 147);
}
input{
   width: 100%;
   height: var(--heigth-input-register);
   padding: 0 10px 0 10px;
}
#btn-register{
   width: 100%;
   height: var(--heigth-btn-register);
   background-color: var(--background-btn-register);
   color: var(--text-color-btn-register);
   border: none;
   border-radius: 5px;
   font-weight: bold;
}
#btn-register:hover{
   background-color: rgb(119, 0, 178);
   cursor: pointer;
}
#btn-login{
   width: 100%;
   height: var(--heigth-btn-register);
   background-color: var(--background-btn-register);
   color: var(--text-color-btn-register);
   border: none;
   border-radius: 5px;
   font-weight: bold;
}
#btn-login:hover{
   background-color: rgb(119, 0, 178);
   cursor: pointer;
}
#btn-back{
   width: 100%;
   height: var(--heigth-btn-back);
   border: 2px solid var(--border-btn-back);
   background-color: var(--background-btn-back);
   border-radius: 5px;
   color: var(--text-color-btn-back);
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}

#btn-back:hover{
   border: 4px solid rgb(134,0,201);
   cursor: pointer;
}

input:focus{
   border: none;
   border: 4px solid var(--border-input);
}
#welcome-register{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 30px;
   width: 50%;
}
#welcome-image{
   width: var(--width-welcome-image);
}
#welcome-message{
   font-size: 1.5rem;
   color: var(--text-color-welcome-message);
}

#incorrect-data {
  color: red;
  text-align: justify;
  font-size: 0.9rem;
}

.show-hide-password{
  cursor: pointer;
  position: absolute; 
  font-size: 12px;
  color: var(--a-tag-color);
  right: 5px;
}

.password-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#privacity-terms{
   font-size: 0.8rem;
}
#privacity-terms span{
   text-decoration: underline;
}

#btn-login {
   display: none;
}