/* *, :after, :before {
  box-sizing: border-box;
} */

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  min-height:500px;  
  background: #fdfdfd;
  font-size: 12px;
  /* font-weight: bold; */
  color: #202020;
  font-family: roboto, serif; 
}

/* ///-----INDEX PRINCIPAL - TODAS AS PÁGINAS----\\\\ */
.header {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background: #fdfdfd;
  border-bottom: 0.8px solid #95A5A6;
  padding: 20px 10px;
}

header:hover{
  color:#6b1d9e
}

#name-logo {
  width: 15vw;
  height: 5vh;
}

#busca {
 border: solid 0.5px #95A5A6;
 border-radius: 5px;
 width: 30vw;
 height: 5vh;
}

a {
  text-decoration: none;
  color: #202020;
  font-size: 15px;
  /* font-weight: bold; */
}

a:hover {
  color: #7728ab;
}

#pedido img {
  float: left;
  margin-right: 20px;  
   
}
.requests a {
  float: left;
  margin-right: 20px;  
}

.register {
  background-color: #E5E5E5;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

/* ///-----MENU-----\\\ */


ul, li {
  list-style: none;
}

.nav-menu {
  /* overflow: hidden; */
  width: 98.6vw;
  padding-bottom: 10px;
  display: inline-flex;
  margin-top: auto;
  background-color: #fdfdfd;
  justify-content: space-around;
  border-bottom: 0.8px solid #95A5A6;
}

.page-menu {
  top:0;
  left:0;
  margin: 10px auto;
}

ul li a:hover {
  color: #7728ab;
  height: 20px;
  border-bottom: 3px solid #7728ab;
  padding-bottom: 17px;
}

ul li a {
  font-weight: bold;
}

#logo-index {
  /* float: center; */
  width: 42vw;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


h2 {
  color: #7728ab;
  /* text-align: center; */
  margin-top: 15px;
  /* font-size: 18px; */
}

  #img-page-herbivoro img {
    width: 9vw;
  }
  
  /* *, :after, :before {
    box-sizing: border-box;
  } */
  
  .herbivoro-container {
    /* background-color: blue; */
    display: flex;
    /* width: 78.5vw; */
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0.1rem solid #d3d9de;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
    border-radius: 0.4rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-right: 2%;
    margin-bottom: 2rem; 
  }
  
  .catalog-herbivoro {
    min-height: 300px;
    /* display: inline-block; */
    border: 0.1rem solid #d3d9de;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
    border-radius: 0.4rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-right: 2%;
    margin-bottom: 3rem;
    /* width: 20%; */
  }
  .catalog-herbivoro:hover {
    cursor: pointer;
  }
  
  .img-catalog-herbivoro img {
    display: inline-block;
    border-radius: 50%;
    width: 160px;
    height: 150px;
    margin-bottom: 25px;
    /* margin-left: 35px; */
  }
  .inform-herbivoro {
    text-align: center;
  }
  
  h3,
h4 {
  color: #7728ab;
  font-weight: lighter;
}

h4 {
   margin-left: 20px;
   font-size: 15px;
   margin-bottom: 5px;
}

  
  .btn-filtro button {
     border-radius: 5px;
     width: 100%;
     height: 5vh;
     color: #7728ab;
     cursor: pointer;
     border: none;
  }
  .filtro-container {
     /* background-color: red; */
     width: 18vw;
     /* height: 58vh; */
     float: left;
     margin-top: 30px;
     border: 0.1rem solid #d3d9de;
     box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
     border-radius: 0.4rem;
     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
     margin-right: 2%;
     margin-bottom: 2rem;    
  }
  
  .filtro {
     margin-left: 10px;
  }
  

  
/* ///-----FOOTER TODAS PÁGINAS-----\\\ */
footer{
  display:block;
  position:fixed;
  width:100%;
  bottom:0vh;
  left:0;
  background: #fdfdfd;
  text-align:center;
  padding: 8px 0;
  border-top: 0.5px solid #95A5A6;
}

main{
  margin-top:80px;
  color:white;
}
