* {
  box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #E5E5E5;
}

/* -------- PAGINA PRINCIPAL --------- */
ul {
  padding: 0px!important;
  margin: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #E76B69;
  height: 120px;
}
main {
  margin: 0 auto;
  width: 100%;
  margin-top: -15.8px;
  /* float: left; */
  position: relative;
  display: inline-block;
}
.logo {
  float: left;
  padding: 40px;
  margin: 0 auto;
  width: 30%;
}
#logo-name {
  /* padding: 48px; */
  margin-top: 55px;
  width: 34%;
  /* margin: 0 auto; */
  float: center;
}
.cadastro-login ul li {
  margin-left: 10px;
  /* display: flex; */
  float: left;
  list-style: none;
}
a {
  color: #1C1E21;
  text-decoration: none;
  font-size: 18px;
}
.cadastro-login {
  padding: 48px;
  margin: 0 auto;
  /* width: 23%; */
  margin: 0 auto;
  float: right;
}

.header-2 {
  background-color: #57A066;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  margin-left: 95px;
  justify-content: space-around;
  padding: 10px;
}
.menu ul li a:hover {
  color: #E76B69;
}  
/* .menu ul li:hover {
  border-bottom: 2px solid #E76B69;
} */

.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
/* .menu-urls {
  padding: 48px;
} */
.busca {
  border-radius: 20px;
  /* text-align: center; */
  padding: 8px;
  background-image: url('./assets/images/busca.png');
  background-repeat: no-repeat;
  background-position: 95%;
  border-bottom: none;
  font-size: 14px;
  margin-left: -20px;  
}
li input .busca {
  padding: 15px;
}
.carrossel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  width: 1130px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
  margin: 0;
  margin-left: 100px;
}
.container-carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  /* margin-left: 350px; */
}
.img-carrossel {
  object-fit: cover;
  height: 300px;
  width: 1130px;
}
.tipo-dinossauro{
  margin-top: 10px;
}
.pets {
  width: 210px;
  height: 280px;
  background-color: #57A066;
  display: inline-block;
  margin-left: 95px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
#disponivel {
  /* top: 2px; */
  /* background-color: #57A066; */
  font-size: 20px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.pet-disponivel {
  width: 100%;
  margin-top: 50px;
}

p {
  position: relative;
  text-align: center;
  /* top: 5px; */
  font-family: 'Roboto';
  font-size: 15px;
  color: #1C1E21;
}

.pets img {
  border-radius: 20px 20px 0px 0px;
  width: 210px;
  height: 125px;
}
footer {
  background-color: #E76B69;
  /* margin-top: 10px; */
  margin: 0px;
  height: 30px;
  font-style: italic; 
}


/* ----- SPA -----*/
body {
  --nav-width: 200px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.spa-page-container {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #222222;
}

.nav-link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  background: white;
}

/* ------ FILTRO ------ */
#esconder-filtro {
  display: none;
}
.filtro {
  margin-top: 20px;
  float: left;
  /* background-color: green; */
  width: 20%;
  height: 100%;
  position: relative;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
}

.filter-details {
  margin-left: 20px;
  margin-top: 10px;
}
button {
  height: 30px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border: none;  
}

.btn-filtro {
  position: relative;
}

#filtro-btn {
  font-family: "Quicksand", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #1C1E21;
  background-color: #E5E5E5;
  border-radius: 0px 20px 20px 0px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

div .dino-filtro {
  margin-top: 19px;
  width: 77%;
  height: 100%;
  /* background-color: red; */
  display: inline-block;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

label {
  font-size: 0.8rem;
}

/* ----- PAGINAS - CARNÍVORO, HERBIVORO, ONIVORO, PROMOÇÃO-----*/
h4 {
  margin: 0;
}
.img-page {
  width: 100%;
}

.pets-pages {
  width: 210px;
  height: 280px;
  background-color: #57A066;
  display: inline-block;
  /* margin-left: 300px; */
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
.pets-pages img {
  border-radius: 20px 20px 0px 0px;
  width: 210px;
  height: 125px;
}

/* ------ CADASTRO ------ */


#texto-cadastro {
  margin-top: 140px;
  /* background-color:black; */
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  width: 50%;
}

form {
  /* position: absolute; */
  justify-content: center;
  background-color: #57A066;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 200px;
  float: right;
  margin-top: -150px;
}

#cadastrar input {
  border-radius: 20px;
  border: none;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10%;
}

#btn-cadastrar {
  margin-top: 10px;
  width: 50%;
  height: 7%;
  border-radius: 20px;
  background-color:#E76B69;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cadastrar {
  margin-top: 100px;
}

input, label {
  margin-left: 20px;
}