
<div class="carrinho-container">

    <div class="cabecalho-carrinho">
        <p>Produto</p>
        <p>Descrição</p>
        <p>Quantidade</p>
        <p>Preço</p>
    </div>
    
    <div class="informacao-carrinho">
        <div><img id="img-produto" src="./assets/images/rex-filhote.jpg" width="70px" height="70px" alt=""/></div>
        <div id="descricao-produto">Descrição</div>
        <div id="quantidade-produto">
            <input id="quantidade" type="number"></input>
        </div>
        <div id="preco">R$<span id="preco-produto">9.000</span>
            <span><img id="lixeira" src="./assets/images/lixeira.png"></span>
        </div>        
    </div>

</div>




<link rel="stylesheet" href="views/carrinho/style.css">  
<script src="views/carrinho/script.js"></script>