<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>PetSauro</title>
</head>
  <body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                  <a href="">
                    <img src="./assets/images/logo.png" width="65px" height="65px" alt=""/>
                  </a>
                </div>
                  <img id="logo-name" src="./assets/images/petsauro80 1.png" width="50px" height="50px" alt=""/>
                <div class="cadastro-login">
                    <ul>
                        <li>
                            <a href="/cadastro" class="nav__link" data-link>
                                <img src="./assets/images/pessoa.png" />
                            </a>
                        </li>
                        <li>
                            <span>Olá, </span><span id="cadastro"><a href="/cadastro" class="nav__link" data-link></a></span>
                            <span id="sair">| <a href="http://www.google.com/search"><span id="cadastro">Sair</span></a></span><br/>
                            <p><span id="acompanhar"><a href="/acompanhar">Pedido</a></span></p>
                        </li>
                        <li>                        
                            <a href="/carrinho" class="nav__link" data-link>
                                <img src="./assets/images/carrinho.png" />
                            </a>
                            <a href="/pedido" class="nav__link" data-link>
                              <span id="pedido">0</span>
                            </a>                          
                        </li>
                    </ul>
                </div>
            </div>
        </main> 
    </header>
<div id="cadastro-pets">
  <form>
    Categoria: <input id="pet-category_id" type="text" />
    <br />
    Nome: <input id="pet-name" type="text" />
    <br />
    URL da imagem: <input id="pet-image-url" type="text" />
    <br />
    Peso: <input id="pet-weight" type="text" />
    <br />
    Preço: <input id="pet-price" type="text" />
    <br />
    Altura: <input id="pet-height" type="text" />
    <br />
    Criado por: <input id="pet-created_at" type="text" />
    <br />
    Data: <input id="pet-created_by" type="text" />
    <br />
    Descrição: <input id="pet-description" type="text" />
    <br />
   Promoção: Sim<input id="pet-promotion" type="radio" nome="promotion" />
             Não<input id="pet-promotion" type="radio" nome="promotion" />
    <br />
    <button id="btn-cadastrar-pet" onclick="controller.cadastrarPet(event)">Enviar</button>
  </form>
</div>

<script src="views/cadastro_pets/script.js"></script>

<!-- category_id, name,  url_image, weight, price, height, created_by, created_at, description, promotion  -->
